.flexDisplay {
  display: flex;
  flex-wrap: nowrap;
}
.flexDisplay .legend {
  margin: 10px 10px 10px 0;
  text-align: center;
  padding: 3px;
}
.legend {
  border: 2px solid #333333;
  margin: 20px 20px 20px 0;
  max-width: 40%;
}
table.greyGridTable {
  border: 1px solid #000000;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  line-height: 1.5;
}
table.greyGridTable th {
  border: 1px solid #000000;
  padding: 3px 4px;
}
table.greyGridTable tbody td {
  font-size: 13px;
}
table.greyGridTable td:nth-child(even) {
  background: #ebebeb;
}
table.greyGridTable thead {
  background: #ffffff;
  border-bottom: 4px solid #333333;
}
table.greyGridTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #333333;
  text-align: center;
  border-left: 2px solid #333333;
}
table.greyGridTable thead th:first-child {
  border-left: 2px solid #333333;
}

table.greyGridTable tfoot {
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  border-top: 4px solid #333333;
  text-align: center;
}
table.greyGridTable tfoot td {
  font-size: 14px;
}
#table-head1 {
  column-span: 2;
}
#table-head2 {
  column-span: 4;
}
#table-head3 {
  column-span: 5;
}

#printout {
  max-width: 700px;
}
@media print {
  body * {
    visibility: hidden;
  }
  #printout {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    visibility: visible;
    overflow: visible !important; /* Remove scrollbar for printing. */
  }
  #printout * {
    visibility: visible;
    overflow: visible;
  }

  #payroll-all-employees {
    page-break-after: avoid;

    visibility: visible;
    overflow: visible !important; /* Remove scrollbar for printing. */
  }

  #payroll-all-employees * {
    visibility: visible;
    overflow: visible;
    page-break-inside: avoid;
  }

  @page {
    size: auto; /* auto is the initial value */
    size: A4 portrait;
    margin: 0; /* this affects the margin in the printer settings */
    border: 1px solid red; /* set a border for all printed pages */
  }
}
